/* Add a border to the table */
table {
  border-collapse: collapse;
  background-color: #f9f9f9;
}
.confirmation-main{
  /* display: grid; */
  background-color: rgb(241, 241, 241);
}
.confirmation-content {

  display: grid;
  justify-content: center;
}

/* Add hover effect to the table rows */
tr:hover {
  background-color: #f5f5f5;
}

/* Style the table headers */
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* Add a background color to the table headers */
th {
  background-color: #f2f2f2;
}

/* Style the "Order Confirmation" title */
  h1.order-confirmation-title {
    color: green;
    text-align: center;
  }

/* Style the "Order Details" header */
h2 {
  color: #777;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Style the "Total" row in the table */
td h3 {
  color: green;
  margin: 0;
}

/* Style the Payment Method block */
.payment-method {
  margin-top: 30px;
  font-weight: bold;
}

/* Style the address block */
address {
  text-align: center;
  font-style: normal;
  margin-top: 30px;
}
